<!DOCTYPE html>
<html lang="en">
<head>
  <title>DJ</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <style type="text/css">
    #player{
      position: absolute;
      height: 600px;
      width: 700px;
      top: 30px;
      left: -50px;
    }​
    #songlist{
      position: relative;
      background-color:#efeff4;
      width: 500px;
      height: 700px;
    }
  </style>
</head>
<body>
  <div class="col-md-6 col-md-offset-6">
    	<div id="player"></div>
  </div>

  <div class="col-md-5">

        <b> <h3> Song Request History </h3> </b>
        <div class="row">
          <div class="container" id = "controls" >
            <a class="btn btn-primary" id="btnPrevious">Previous</a>
            <a class="btn btn-primary" id="btnPlay">Play</a>
            <a class="btn btn-primary" id="btnNext">Next</a>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="container">
            <div id="songlist"></div>
          </div>
        </div>
  </div>
</body>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="../socket.io/socket.io.js"></script>
  <script src="../js/dj.js"></script>
</html>
